{% extends "base.html.twig" %}

{% block body %}
       <div class="col-md-6 mt-2 box-form">
        <h2>Login</h2>
        <hr>
        <form action="{{path('login_check')}}" method="post">
            <label for="email">Email</label>
            {# usa username porque para el login considera al email como username #}
            <input class="form-control" type="email" id="username" name="_username" value="{{last_username}}">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="_password">

            <input class="btn btn-outline-info"  type="submit" value="Login">
            {# Cuando se loguee correctamente con este input le definimos a donde queremos que vaya #}
            <input type="hidden" name="_target_path" value="/home">
        </form>
    </div>
{% endblock %}