body{
    background-color: #eee;
}

/* Header */
.navbar .avatar{
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 8px;
    margin-top: -2px;
}

.navbar .avatar img{
    height: 100%;
    text-align: center;
}


/* Register */

.box-form, .box-default{
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 0px auto;
    float: none;
}

.box-form input, .box-form textarea{
    margin-bottom: 10px;
}

.form-control{
    margin-top: 5px;
}

/* PEOPLE */

.user-item .avatar{
    background: #eee;
    border-radius: 500px;
    width: 90px;
    height: 75px;
    overflow: hidden;
    margin: 10px;
}

.user-item .avatar img{
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.user-item-content{
    padding: 10px;
}

