body{
    background-color: #eee;
}

.box-form{
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 0px auto;
    float: none;
}

.box-form input, .box-form textarea{
    margin-bottom: 10px;
}

.form-control{
    margin-top: 5px;
}